<div id="Entity" class="">
    <div data-ng-controller="homeController">
        <data-ng-form name="addEditEntityInfo" novalidate>

            <div class="col-md-9 col-lg-9 col-sm-12">
                <div id="tmm-form-wizard">
                    <div class="stage-container">
                        <div class="row">
                            <div class="stage tmm-success col-md-4 col-sm-4 col-xs-4">
                                <div class="stage-header head-icon head-icon-lock">
                                    <img src="images/personal.png" alt="" />
                                </div>
                                <div class="stage-content">
                                    <h3 class="stage-title">Personal Information</h3>

                                </div>
                            </div>
                            <!--/ .stage-->

                            <div class="stage tmm-current col-md-4 col-sm-4 col-xs-4">
                                <div class="stage-header head-icon head-icon-user">
                                    <img src="images/entity.png" alt="" />
                                </div>

                                <div class="stage-content">
                                    <h3 class="stage-title">Entity Information</h3>

                                </div>
                            </div>
                            <!--/ .stage-->

                            <div class="stage col-md-4 col-sm-4 col-xs-4 last">
                                <div class="stage-header head-icon head-icon-payment">
                                    <img src="images/lock.png" alt="" />
                                </div>
                                <div class="stage-content">
                                    <h3 class="stage-title">Account Information</h3>

                                </div>
                            </div>
                            <!--/ .stage-->
                        </div>
                    </div>
                    <div id="sticky-anchor2"></div>
                </div>
                <div class="clearfix"></div>
                <div>
                    <div class="col-md-3 col-lg-3 col-sm-12">
                        <div class="form-group">
                            <label>Account Purpose</label> <select class="form-control"
                                                                   data-ng-model="KYCModel.entityInfoModel.accountPurpose">
                                <option value="">-Select-</option>
                                <option>TRADING</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="relative">
                    <h3 class="heading">Entity Details</h3>
                    <i class="pull-right accordion active btn-collapse"></i>
                    <div class="panel show">
                        <div class="col-md-12 col-lg-12 col-sm-12 box-theme">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Company Name</label> <input type="text"
                                                                               class="form-control"
                                                                               data-ng-model="KYCModel.entityInfoModel.companyName" alpha-numeric>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.employerId.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Employer ID Number<span class="error">*</span></label> <input type="text"
                                                                                     class="form-control"
                                                                                     data-ng-model="KYCModel.entityInfoModel.employerId" name="employerId" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Base Currency</label> <select class="form-control"
        data-ng-options="currency.name as currency.name for currency in listData.currencyList"
        data-ng-model="KYCModel.entityInfoModel.baseCurrency" required>
    <option value="">-Select-</option>
</select>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Type of Business</label> <select class="form-control"
                                                                                    data-ng-model="KYCModel.entityInfoModel.typeOfBusiness">
                                                <option value="">-Select-</option>
                                                <option>HF</option>
                                                <option>B/D</option>
                                                <option>Exchange</option>
                                                <option>Payment Processor</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.sourceOfFunds.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Source of Funds<span class="error">*</span></label>
                                            <textarea class="full-width form-control" rows="5"
                                                      data-ng-model="KYCModel.entityInfoModel.sourceOfFunds" name="sourceOfFunds" required></textarea>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>

                <div class="relative">
                    <h3 class="heading">Contact Details</h3>
                    <i class="pull-right accordion active btn-collapse"></i>

                    <div class="panel show">
                        <div class="box-theme">
                            <h3 class="subtext">Headquarter Address</h3>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.hqAddress.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Address<span class="error">*</span></label> <input type="text" class="form-control"
                                                                          data-ng-model="KYCModel.entityInfoModel.hqAddress" name="hqAddress" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.hqStreetAddress2.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Street Address 2<span class="error">*</span></label> <input type="text"
                                                                                   class="form-control"
                                                                                   data-ng-model="KYCModel.entityInfoModel.hqStreetAddress2" name="hqStreetAddress2" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.hqCountry.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Country<span class="error">*</span></label> <select class="form-control"
                                                                           data-ng-options="country as country.name for country in listData.countryList"
                                                                           data-ng-model="KYCModel.entityInfoModel.hqCountry" name="hqCountry" required
                                                                           data-ng-change="getState(KYCModel.entityInfoModel.hqCountry)">
                                                <option value="">-Select-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>State</label> <select class="form-control"
                                                                         data-ng-model="KYCModel.entityInfoModel.hqstate" data-ng-options="st.name as st.name for st in states">
                                                <option value="">-Select-</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.hqCity.$invalid && addEditEntityInfo.$submitted}">
                                            <label>City<span class="error">*</span></label> <input type="text" class="form-control"
                                                                       data-ng-model="KYCModel.entityInfoModel.hqCity" name="hqCity" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.hqZip.$invalid && addEditEntityInfo.$submitted}">
                                            <label>ZIP/Pincode<span class="error">*</span></label> <input type="text"
                                                                              class="form-control"
                                                                              data-ng-model="KYCModel.entityInfoModel.hqZip" name="hqZip" required numbers-only>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <h3 class="subtext">
                                Mailing Address
                            </h3>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-12 col-lg-12 col-sm-12 lbl-duplicate">
                                        <input type="checkbox" ng-change="setData(sameasAbove)" data-ng-model="sameasAbove"> Same
                                        as above
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Mailing Address</label> <input type="text" class="form-control" data-ng-model="KYCModel.entityInfoModel.mailingAddress">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Street Address 2</label> <input type="text"
                                                                                   class="form-control"
                                                                                   data-ng-model="KYCModel.entityInfoModel.mailingStreetAddress2">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Country</label> <select class="form-control"
                                                                           data-ng-model="KYCModel.entityInfoModel.mailingCountry" data-ng-options="country as country.name for country in listData.countryList"
                                                                           data-ng-change="getState(KYCModel.entityInfoModel.mailingCountry)" name="country">
                                                <option value="">-Select-</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>State</label> <select class="form-control"
                                                                         data-ng-model="KYCModel.entityInfoModel.mailingState" data-ng-options="st.name as st.name for st in states">
                                                <option value="">-Select-</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>City</label> <input type="text" class="form-control"
                                                                       data-ng-model="KYCModel.entityInfoModel.mailingCity">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>ZIP/Pincode</label> <input type="text"
                                                                              class="form-control"
                                                                              data-ng-model="KYCModel.entityInfoModel.mailingZip" numbers-only>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Fax</label> <input type="text" class="form-control"
                                                                      data-ng-model="KYCModel.entityInfoModel.fax">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.phone.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Phone<span class="error">*</span></label> <input type="text" class="form-control"
                                                                        data-ng-model="KYCModel.entityInfoModel.phone" name="phone" required numbers-only>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.alternatePhone.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Alternate Phone<span class="error">*</span></label> <input type="text"
                                                                                  class="form-control"
                                                                                  data-ng-model="KYCModel.entityInfoModel.alternatePhone" name="alternatePhone" required numbers-only>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{'has-error' : addEditEntityInfo.website.$invalid}">
                                            <label>
                                                Website
                                                <span class="has-error"
                                                      data-ng-show="addEditEntityInfo.website.$invalid">Please enter valid url</span>
                                            </label> <input type="text" class="form-control"
                                                            data-ng-model="KYCModel.entityInfoModel.website" name="website" data-ng-blur="validateURL(KYCModel.entityInfoModel.website)">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group"
                                             data-ng-class="{ 'has-error' : (addEditEntityInfo.email.$invalid && addEditEntityInfo.$submitted) || invalidEmail }">
                                            <label>
                                                Email<span class="error">*</span><span class="has-error"
                                                           data-ng-show="addEditEntityInfo.email.$invalid && !addEditEntityInfo.email.$error.required">
                                                                                     Please enter valid email id
                                                </span>
                                            </label> <input type="text" class="form-control" name="email"
                                                            data-ng-model="KYCModel.entityInfoModel.email" data-ng-blur="emailValidate(KYCModel.entityInfoModel.email,'entityEmail')" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addEditEntityInfo.jurisdiction.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Jurisdiction<span class="error">*</span></label> <input type="text"
                                                                               class="form-control"
                                                                               data-ng-model="KYCModel.entityInfoModel.jurisdiction" name="jurisdiction" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group"
                                             data-ng-class="{ 'has-error' : addEditEntityInfo.reportsEmail.$invalid }">
                                            <label>
                                                Reports Email<span class="has-error"
                                                                   data-ng-show="addEditEntityInfo.reportsEmail.$invalid">
                                                                 Please enter valid email id
                                                </span>
                                            </label> <input type="text" class="form-control" name="reportsEmail"
       data-ng-model="KYCModel.entityInfoModel.reportsEmail"
       data-ng-blur="emailValidate(KYCModel.entityInfoModel.reportsEmail,'reportsEmail')">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addEditEntityInfo.trademarkName.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Trademark Name<span class="error">*</span></label> <input type="text"
                                                                                 class="form-control"
                                                                                 data-ng-model="KYCModel.entityInfoModel.trademarkName" name="trademarkName" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addEditEntityInfo.transferCallbackPhone.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Transfer Call Back Phone<span class="error">*</span></label> <input type="text"
                                                                                           class="form-control"
                                                                                           data-ng-model="KYCModel.entityInfoModel.transferCallbackPhone" name="transferCallbackPhone" required numbers-only>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group"
                                             data-ng-class="{ 'has-error' : (addEditEntityInfo.callbackEmail.$invalid && addEditEntityInfo.$submitted) || invalidCallbackEmail }">
                                            <label>
                                                Transfer Call Back Email<span class="error">*</span><span class="has-error"
                                                                              data-ng-show="addEditEntityInfo.callbackEmail.$invalid
                                                                              && !addEditEntityInfo.callbackEmail.$error.required">
                                                                                                        Please enter valid email id
                                                </span>
                                            </label> <input type="text" class="form-control" name="callbackEmail"
       data-ng-model="KYCModel.entityInfoModel.transferCallbackEmail"
       required data-ng-blur="emailValidate(KYCModel.entityInfoModel.transferCallbackEmail,'callbackEmail')">
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addEditEntityInfo.registeredAddress1.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Registered Address 1<span class="error">*</span></label> <input type="text"
                                                                                       class="form-control"
                                                                                       data-ng-model="KYCModel.entityInfoModel.registeredAddress1" name="registeredAddress1" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group">
                                            <label>Registered Address 2</label> <input type="text"
                                                                                       class="form-control"
                                                                                       data-ng-model="KYCModel.entityInfoModel.registeredAddress2">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addEditEntityInfo.registeredCity.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Registered City<span class="error">*</span></label> <input type="text"
                                                                                  class="form-control"
                                                                                  data-ng-model="KYCModel.entityInfoModel.registeredCity" name="registeredCity" required>
                                        </div>
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                     <div class="form-group" data-ng-class="{ 'has-error' : addEditEntityInfo.registeredCountry.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Registered Country<span class="error">*</span></label> <select class="form-control" name="registeredCountry" required
                                                                                      data-ng-options="country.name as country.name for country in listData.countryList"
                                                                                      data-ng-model="KYCModel.entityInfoModel.registeredCountry">
                                                <option value="">-Select-</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                    <div class="form-group">
                                            <label>Registered State</label> <select class="form-control"
                                                                                    data-ng-model="KYCModel.entityInfoModel.registeredState" >
                                                                                <option value="">-Select-</option>
                                            </select>
                                        </div>
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-4 col-lg-4 col-sm-4">
                                        <div class="form-group" data-ng-class="{ 'has-error' : addEditEntityInfo.registeredPincode.$invalid && addEditEntityInfo.$submitted}">
                                            <label>Registered Postcode<span class="error">*</span></label> <input type="text"
                                                                                      class="form-control"
                                                                                      data-ng-model="KYCModel.entityInfoModel.registeredPincode" name="registeredPincode" required>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="relative">
                    <h3 class="heading">Document Upload</h3>
                    <i class="pull-right accordion active btn-collapse"></i>
                    <div class="panel show">
                        <div class="col-md-12 col-lg-12 col-sm-12 box-theme">
                            <div class="row">
                                <div class="col-md-12 col-lg-12 col-sm-12">
                                    <div class="col-md-6 col-lg-6 col-sm-6">
                                        <div class="row">
                                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                                <div class="form-group" data-ng-class="{ 'has-error' : entityDocUpload}">
                                                    <label>Entity Document Upload<span class="error">*</span></label> <select class="form-control" name="entityDocUpload"
                                                                                                  data-ng-model="KYCModel.entityInfoModel.entityDocUpload">
                                                        <option value="">-Select-</option>
                                                        <option>Ownership Entity Legal Doc.</option>
                                                        <option>Evidence of Source of Funds</option>
                                                        <option>W 9 Forms</option>
                                                        <option>Company Tax Return</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                <div class="form-group margint16">
                                                    <span class="btn btn-upload btn-file"
                                                          data-ng-model="KYCModel.entityInfoModel.file">
                                                        Upload <input type="file"
                                                                      data-ng-model="KYCModel.entityInfoModel.file"
                                                                      ng-click="validateEntityForm($event)"
                                                                      onchange="angular.element(this).scope().selectEntityFile(this.files)">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6 col-lg-6 col-sm-6">
                                        <div class="row">
                                            <div class="col-md-8 col-lg-8 col-sm-8 col-xs-8">
                                                <div class="form-group" data-ng-class="{ 'has-error' : entityEDDUpload}">
                                                    <label>Enhanced Due Diligence (EDD) Documents<span class="error">*</span></label> 
                                                    <select class="form-control" name="enhanceDueDiligence"
                                                            data-ng-model="KYCModel.entityInfoModel.enhanceDueDiligence">
                                                        <option value="">-Select-</option>
                                                        <option>AML Questionnaire.</option>
                                                        <option>State MSB License and/or FinCen registration</option>
                                                        <option>AML Program and Procedures</option>
                                                        <option>Last independent audit report</option>
                                                        <option>Business visit report</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-4 col-lg-4 col-sm-4 col-xs-4">
                                                <div class="form-group margint16 lbl-space">
                                                    <span class="btn btn-upload btn-file">
                                                        Upload <input type="file"
                                                                      data-ng-model="KYCModel.entityInfoModel.eddFile"
                                                                      ng-click="validateEntityEDDForm($event)"
                                                                      onchange="angular.element(this).scope().selectEntityEDDFile(this.files)">
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row new-tble">

                                <div class="col-md-6 col-lg-6 col-sm-6" data-ng-show="isFileSelected">
                                    <div class="doc-tble two-grid col-md-12">
                                        <h3 class="heading">Uploaded Entity Documents</h3>

                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Document Type</th>
                                                    <th>Document Name</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="doc in docEntityArray">
                                                <tr>
                                                    <td>{{doc.documentType}}</td>
                                                    <td>{{doc.orignalName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6 col-sm-6 " data-ng-show="isEDDFileSelected">
                                    <div class="doc-tble two-grid col-md-12">
                                        <h3 class="heading">Uploaded EDD Documents</h3>
                                        <table class="table table-responsive">
                                            <thead>
                                                <tr>
                                                    <th>Document Type</th>
                                                    <th>Document Name</th>
                                                </tr>
                                            </thead>
                                            <tbody ng-repeat="doc in docEDDArray">
                                                <tr>
                                                    <td>{{doc.documentType}}</td>
                                                    <td>{{doc.orignalName}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                </div>
                <div class="text-right paddingtb15">
                    <button class="btn btn-default marginr25 btn-save" type="button"
                            data-ng-click="resetEntityInfo()">
                        Reset
                    </button>
                    <button class="btn btn-reset marginr25 e-prev"
                            data-ng-click="eventPrev()">
                        Previous
                    </button>
                    <button class="btn btn-default marginr25 btn-save"
                            data-ng-click="saveEntityInfo()">
                        Save
                    </button>
                    <button class="btn btn-forgot e-next" data-ng-click="eventNext()" data-ng-disabled="!isSave">Next</button>

                </div>
            </div>

            <div class="alert alert-success alert-box" role="alert"
                 data-ng-show="success">
                Entity Information saved
                successfully!!
            </div>
            <div class="alert alert-danger alert-box" role="alert"
                 data-ng-show="error">Error! Please enter the required fields.</div>
            <div class="alert alert-danger alert-box" role="alert" id="entityFileError" style="display:none"></div>
            <div class="alert alert-danger alert-box" role="alert" data-ng-show="isEntityDocUploaded">Error! Please upload atleast one document!</div>


            <div class="col-md-3 col-lg-3 col-sm-12 ">
                <div class="right-pannel" id="sticky2">
                    <div class="row">
                        <div class="col-md-12 col-sm-8">
                            <h2 class="right-pannel-heading-top">What We Need</h2>
                            <div class="content">
                                <p>
                                    This is the next step in the KYC (Know Your Customer)
                                    process. So Noble can set up a trading account in your name we
                                    need to be able have proof of who you are. The following
                                    documents are acceptable, and you can submit on primary ID
                                    (Passport) or two secondary ID's (Driver's ID, any Government
                                    Issued ID, or Work ID with Photo).
                                </p>
                                <span class="bold">ALL DOCUMENTS MUST SHOW THE ADDRESS</span><span>
                                    when it is present in the document
                                </span>
                                <ul>
                                    <li>Valid Passport</li>
                                    <li>
                                        Valid Driver's ID / Government Issued ID / Work ID with
                                        Photo
                                    </li>
                                    <li>
                                        Evidence of company physical address such as utility
                                        bill or lease agreement
                                    </li>
                                    <li>
                                        Evidence of Source of Funds such as bank statements or
                                        financial statements
                                    </li>
                                </ul>
                                <p class="bold">Only PDF, JPEG or PNG files can be uploaded</p>

                            </div>
                        </div>
                        <div class="col-md-12 col-sm-4">
                            <h2 class="right-pannel-heading">Next Steps</h2>
                            <div class="content">
                                <p>
                                    Once we have received all your information, we will
                                    contact you to let you know the KYC process has been completed.
                                    We will then send you.
                                </p>
                            </div>
                            <div class="content lbl-result">
                                <p>Expected Wire Transfer Monthly Average Activity</p>
                                <label>From</label> <label></label> <label>To</label> <label></label>

                                <p>Expected Trading Monthly Average Activity</p>
                                <label>From</label> <label></label> <label>To</label> <label></label>
                            </div>


                        </div>
                    </div>
                </div>
            </div>

        </data-ng-form>
    </div>
</div>















